#ant specific
Jump/dist/
Jump/build/

#netbeans specific

Jump/nbproject/*
!Jump/nbproject/project.properties
!Jump/nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
/nbproject/private/
/build/
/dist/