#ant specific
dist/
build/

#netbeans specific

nbproject/*
!nbproject/project.properties
!nbproject/project.xml
!nbproject/jfx-impl.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
/nbproject/private/
/build/
/dist/
